@import "tailwindcss/base";

/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter-v1-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v1-latin-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v1-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v1-latin-200.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v1-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-200.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v1-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v1-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v1-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v1-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v1-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v1-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v1-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v1-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v1-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v1-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v1-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v1-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v1-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v1-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v1-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter-v1-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v1-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v1-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v1-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v1-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-800.svg#Inter")
      format("svg"); /* Legacy iOS */
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
